body{
    background:  radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(62,19,23,1) 100%, rgba(35,121,9,1) 100%, rgba(169,17,17,1) 100%, rgba(0,212,255,1) 100%);
}
#img1{
    height: 200px;
    padding-left: 550px;
    border-radius: 20px;
    
}
#div1{
    font-family: monospace;
    color: rosybrown;
    text-align: center;
    font-size: 40px;
    
   
}
#div2{
    font-size: x-large;
    color: seashell;
    font-weight: 900;
}
li{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aquamarine;
}
