li{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

    
}
h3{
    font-size: xx-large;
    font-weight: bold;
}
#foot{
    font-size:x-large;
    font-weight:bold ;
  }
img{
    border-radius: 10px;
    border-style: solid;
   
}
h1{
    font-size: 50px;
    background-color: darksalmon;
    border-style: solid;
    font-style: oblique;
    font-family: cursive;
    border-radius: 10px;
    background-size:100px;
}
body{
    background-image: url(https://images.pexels.com/photos/295771/pexels-photo-295771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;

}
li:hover{
    background-color: slategray;
}

#book{
    font-size: x-large;
    font-weight: bold;
    border-style: double;
    background-color: indianred;
    border-radius: 5px;
    border-width: 10px;
}
#book:hover{
    background-color: lightgoldenrodyellow;
    cursor:hand;}
 

