#img1{
    height: 200px;
    padding-left: 550px;
    border-radius: 20px;
}
body{
background-image: url(https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
background-size: cover;

}
h1{
    
        font-family: monospace;
        color: darkmagenta;
        text-align: center;
        font-size: 70px;
        border-style: dotted;
        
       
    
}
#button{
    font-size: xx-large;
    border-radius: 5px;
    background-color: lightblue;
}
#div1{
    text-align: center;
    font-size: x-large;
    
    font-weight: bold;
    
}
#kol{
    font-size: x-large;
    border-radius: 10px;
    background-color: dimgrey;
    color: greenyellow;
}
